@font-face {
	font-family: Nilland;
	src: url(Nilland.ttf);
}

@font-face {
	font-family: Nilland-Black;
	src: url(Nilland-Black.ttf);
	font-weight: bold;
}
@font-face {
	font-family: Lighthouse_PersonalUse;
	src: url(Lighthouse_PersonalUse.ttf);
}


/*Side menu/name*/
body{
	background-color: #ffffff;
	overflow/*-x*/: hidden;
}
.masthead{
	background-color: #1f1f1f;
	box-shadow: 0px 10px 20px #000000;
	position: fixed;
	z-index: 998;
	top: 15px;
	left: 15px;
	display: block;
	width: 300px;
	height: 125px;
}
.logo p{
	font-family: Lighthouse_PersonalUse;
	color: #ffffff;
	font-size: 40px;
	margin-left: 30px;
}

.logo{
	background-color: #1f1f1f;
	height: 70px;
	width: 100%;
	margin-bottom: 15px;
}
.navRow{
	display: inline-block;
	width: 100%;
	height: 40px;
	background-color: #e6e6e6;
	margin-bottom:0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	border: 0px;
}
navRow2{
	display: inline-block;
	width:300px;
	height: 40px;
	left: 0px;
}
.homeNav{
	width: 23%;
	margin-top: 7px;
	padding-left: 10px;
	border: 0px;
	float: left;
	font-size:1.25em;
}
.aboutNav{
	width: 23%;
	margin-top: 7px;
	padding: 0px;
	border: 0px;
	float: left;
	font-size:1.25em;
}
.contactNav{
	
	width: 29%;
	margin-top: 7px;
	padding: 0px;
	border: 0px;
	float: left;
	font-size:1.25em;
}
.musicNav{
	width: 21%;
	margin-top: 7px;
	padding: 0px;
	border: 0px;
	float: left;
	font-size:1.25em;
}



/*audio player container*/

.audioPlayer{
	width: 300px;
	height: 436px;
	background-color: #1f1f1f;
	left: 15px;
	box-shadow: 0px 10px 20px #000000;
	position: fixed;
	z-index: 997;
	top: 180px;
	padding: 0px;
	margin-top:0px;
}

li {
    list-style: none;
}	
	
	


/*link stuff*/

a:link {
	text-decoration: none;
	color: #1f1f1f;
	font-family: Nilland-Black;
}
a:visited {
	text-decoration: none;
	color: #1f1f1f;
	font-family: Nilland-Black;
}
a:hover{
	color: #cc9900;
	font-family: Nilland-Black;
	opacity: 0.35;
}
a: active {
	text-decoration: none;
	color: #1f1f1f;
	font-family: Nilland-Black;
}




