/*@font-face {
	font-family: Nilland;
	src: url(Nilland.ttf);
}

@font-face {
	font-family: Nilland-Black;
	src: url(Nilland-Black.ttf);
	font-weight: bold;
}
@font-face {
	font-family: Lighthouse_PersonalUse;
	src: url(Lighthouse_PersonalUse.ttf);
}

*/
/*//////////////////////////////////////////
\\\\\\\\\\\\\\\\\\ general//////////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
body{
	background-image: url("testBackground.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom left;
	margin: 0px;
	overflow/*-x*/: hidden;
	font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}	

a:link {
	text-decoration: none;
	color: #1f1f1f;
}
a:visited {
	text-decoration: none;
	color: #1f1f1f;
}
a:hover{
	color: #003D52;
	opacity: 0.35;
}
a:active {
	text-decoration: none;
	color: #1f1f1f;
}

/*///////////////////////////////////////////
\\\\\\\\\\\\\\\\\ nav stuff /////////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.nav{
	display: inline;
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 60px;
	background-color: #e6e6e6;
	margin:0;
	bottom: 0;
	padding: 0px;
	border: 0px;
	text-align: center;
	box-shadow: 0px 1px 20px 2px #000;
}

.navRow{
	width: 1100px;
	margin: 20px auto 20px auto;
	padding: 0;
	
}
.navRow>li{
	display: inline;
	margin: 0px 50px 0px 50px;
	vertical-align: middle;
	text-transform: uppercase;
}
.brand-name{
	font-weight: bold;
	font-size: x-large;
	margin-left: 0;
	float: left;
}
/*//////////////////////////////////////////
\\\\\\\\\\\\\\\\\\ contact //////////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.contact-whole{
	width: 100%;
	background-color: #1E1E1E;
	height: 160px;
	position: absolute;
	z-index: 99;
	bottom: 0;
	box-shadow: 0px 1px 20px 2px #000;
}

TABLE{
	width: 100%;
}

.contact{
	width: 1100px;
	margin: 10px auto 60px auto;
}

INPUT{
	display: inline;
	margin:0 -3px 10px 0px;
	font-family: 'Quicksand', sans-serif;
}
TEXTAREA{
	display: inline;
	margin: 0 10px 10px 0px;
	font-family: 'Quicksand', sans-serif;
}

BUTTON{
	margin-top: 37px;
	width: 67px;
	background-color: #007AA3;
	border: 1px solid #003D52;
	border-radius: 16px;
	color: #fff;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
}

BUTTON:hover{
	background-color: #66C2E0;
}
.title-name{
	width: 305px;	
}

.message-td{
	width: 316px;
}

#title{
	height: 20px;
	width: 50px;
}

#name{
	height: 20px;
	width: 222px;
}

#phone{
	height: 20px;
	width: 100px;
}

#email{
	height: 20px;
	width: 174px;
}

#message{
	height: 64px;
	width: 340px;
}

.social-media{
	text-align: center;
	border-left: 3px solid #fff;
}

.button-td{
	width: 150px;
}

.fb-img{
	height: 50px;
}
/*//////////////////////////////////////////
\\\\\\\\\\\\\\\\\\ audio //////////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.audio-div{
	background-color: #1E1E1E;;
	position: absolute;
	width: 20%;
	height: 660px;
	right: 30px;
	margin: 60px 30px 500px 30px;
	text-align: center;
	min-width: 320px;
}

.nowPlaying{
	
	width: 300px;
	text-align: left;
	text-indent: 10px;
	margin: 10px auto 0 auto;
	color: #fff;
	font-size: large;
}
.nowTitle{
	vertical-align: top;
}
.nowPhoto, .nowTitle{
	display: inline;
	height: 75px;
}
.nowPhoto{
	height: 75px;
}
audio{
	border-radius: 0;
	margin: 20px auto 20px auto;
}

.playlist{
	width: 300px;
}

.playlist>div{
	width:300px;
	margin: 0 10px 0 10px;
	color: white;
	border-top: 1px solid #4b4b4b;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	font-size: medium;
	border-collapse: collapse;
}

.songInfo{
	font-size: smaller;
	color: #e8e8e8;
	padding-left: 10px;
}
.playlist>div:hover{
	background-color: #343434;
}

.active-song{
	
}

.songs{
	padding-left: 10px;
}
.song4{
	border-bottom: 1px solid #4b4b4b;

}
/*//////////////////////////////////////////
\\\\\\\\\\\\\\\\ index content//////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.page-div{
	width: 60%;
	margin: 60px 30px 500px 30px;
	height:600px;
	position:absolute;
	left: 30px;
}

.home-div{
	background-color: #1E1E1E;;	
}

/*//////////////////////////////////////////
\\\\\\\\\\\\\\\ about content //////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

NOTE: page div properties defined under 'index' */

.about-div{
	background-color: #1E1E1E;
	padding: 30px;
	color: #fff;
	font-weight: 200;
}

/*//////////////////////////////////////////
\\\\\\\\\\\\\\\ video content //////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

NOTE: page div properties defined under 'index' */

.video-div{
	background-color: #1E1E1E;
	padding: 30px;
}